
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 0px;
    margin: 0px;
}

#name{
    color: rgb(86, 86, 136);
    font-size: small;
    position: relative;
    top: -14px;
}

.main{
    
        background-color: white;
        padding: 20px;
        border: 2px solid rgb(156, 154, 154);
        box-shadow: 0px 0px 100px rgba(43, 40, 40, 0.1);
        width: 70%;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        border-radius: 20px;
        position: relative;
        /* display: flex;
        flex-wrap: nowrap; */
}

.main::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(156, 154, 154);
}

#im{
    position: relative;
    color:  rgb(92, 177, 180);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 98px;
    left: 20px;
    font-size: larger;
}

#f{
    position: relative;
    left: 20px;
    top: 76px;
    font-size: xxx-large;
    font-family: system-ui;
    color: rgb(92, 177, 180);
}

#full{
    color: rgb(86, 86, 136);
}
p{
    position: relative;
    left: 30px;
    color: rgb(84, 82, 101);
    font-family: monospace;
    font-size: medium;
    top: 43px;
}

#img{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: end;
}
#pic{
    width: 200px;
    position: relative;
    float: right;
    border-radius: 50%;
    top: -195px;
    right: 115px;
    border: 6px solid rgba(168, 162, 221, 0.4);
}
.link{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    top: -514px;
    left: 29px;
    font-family: monospace;

}
.link>a{
    text-decoration: none;
    margin-right: 50px;
    color: rgb(92, 177, 180);
    font-size: medium;
}

a:hover{
    color: rgb(13, 8, 30);
}
a.selected{
    font-weight: bold;
    color: rgb(13, 8, 30);
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: nowrap;
    position: absolute;
    margin-right:50px ;
    top: 9px;
    right: -37px;
}
#insta, #ln, #mail{
    font-size: 25px;
    margin-right: 16px;
    color: rgb(92, 177, 180);
}




